# Local .terraform directories
**/.terraform/*

# .tfstate files
**/.tfstate/*
*.tfstate.*

**/.DS_Stores

**/terraform.tfstate.*
**/terraform.tfstate
**/.terraform.tfstate.lock.info
**/.terraform.lock.hcl
