# Local .terraform directories
**/.terraform/*

# .tfstate files
**/.tfstate/*
*.tfstate.*

.DS_Stores

terraform/.terraform/*
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/.DS_Stores
terraform/.terraform.lock.hcl

